{% extends 'base.html' %}

{% block header %}
    {% if g.user %}    
        <a class="action" href="{{ url_for('account.expense.create') }}">New Expense</a>
        <a class="action" href="{{ url_for('account.project.create') }}">New Project</a>
        <a class="action" href="{{ url_for('account.investment.create') }}">New Investment</a>
        <a class="action" href="{{ url_for('account.earning.create') }}">New Earning</a>
        <a class="action" href="{{ url_for('account.budget.create') }}">New Budget</a>
    {% else %}
        <h1>Welcome</h1>
    {% endif %}
{% endblock %}

{% block content %}
    {% if g.user %}
        <h1>Ongoing Projects</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for item in projects %}
                <tr>
                    <td><a href="{{ url_for('account.project.list', id=item['id']) }}">{{ item['name'] }}</a></td>
                    <td>{{ item['balance'] }} {{ item['unit'] }}</td>
                    <td>{{ item['details'] }}</td>                    
                </tr>           
                {% endfor %}        
            </tbody>
        </table>
        <a href="{{ url_for('account.project.list_all') }}" style="display:inline-block;margin-top:0.5rem;">More Projects</a>

        <h1>Savings</h1>
        {% for s in savings %}
        {{ s['amount'] }} {{ s['unit']}}<br>
        {% endfor %}
        <a href="{{ url_for('account.saving.list_all') }}" style="display:inline-block;margin-top:0.5rem;">See Saving Details</a>

        <h1>Investments</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Invest Date</th>
                    <th>Initial Value</th>
                    <th>Latest Track Value</th>
                    <th>Details</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in investments %}
                <tr>
                    <td><a href="{{ url_for('account.investment.list', id=item['id']) }}">{{ item['name'] }}</a></td>
                    <td>{{ item['type'] }}</td>
                    <td>{{ item['invest_date'] }}</td>
                    <td>{{ item['amount'] }} {{ item['unit'] }}</td>
                    <td>{{ item['latest_amount'] }} {{ item['latest_unit'] }}</td>
                    <td>{{ item['details'] }}</td> 
                    <td>{{ item['status'] }}</td>                   
                </tr>           
                {% endfor %}        
            </tbody>
        </table>
    {% endif %}
{% endblock %}
    