{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Budget{% endblock %}</h1>
    <a href="{{ url_for('account.index') }}">Back to Home</a>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="budget_type">Type:</label>
        <input id="budget_type" name="budget_type" value="{{ budget['type'] }}" readonly>            
        <br>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="0.01" value="{{ request.form['amount'] or budget['amount'] }}" required>
        <br>

        <label for="currency">Currency:</label>
        <select id="currency" name="currency" value="{{ request.form['currency'] or budget['unit'] }}" required>
            <option value="RMB">RMB</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="HKD">HKD</option>
            <option value="JPY">JPY</option>
        </select>
        <br>
        
        <label for="details">Details:</label>
        <textarea id="details" name="details" rows="4" cols="50">{{ request.form['details'] or budget['details'] }}</textarea>
        <br>
        
        <input type="submit" value="Create">
    </form>
{% endblock %}